html, body
  background-color: #D8DEE7
  color #222
  font-family -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu', 'Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  margin 8px
  padding 0

  @media screen and (max-width: 600px)
    margin: 0px
    padding: 0

a
  color #4273AE
  text-transform uppercase
  text-decoration none

h1, h2, h3, h4, h5, h6
  margin 4px 0